@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@media screen and (min-width: 1280px){
.list-section .container
{
position: absolute;
width: 662px;
height: 374px;
left: 138px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;

color: #000000;
}

.list-section .heading
{

position: absolute;
width: 667px;
height: 93px;
left: 121px;


font-family: 'Roboto Slab', serif;
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 56px;
color: #000000;
}
.list-section .lists
{
position: absolute;
width: 662px;
height: 374px;
margin-top: 150px;
margin-left: -20px;
left: 138px;

font-family: 'Roboto', serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;

color: #000000;

}
}
@media screen and (min-width: 992px) and (max-width: 1279px){
.list-section .container
{
position: absolute;
width: 662px;
height: 374px;
left: 138px;
    
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
    
    
color: #000000;
}

.list-section .heading
{
position: absolute;
width: 667px;
height: 93px;
left: 121px;

font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height:56px;  
    
color: #000000;
}
.list-section .lists
{
position: absolute;
width: 662px;
height: 374px;
left: 138px;
        
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height:36px;
    
    
color: #000000;
}
}

@media only screen and(max-width:991px) {
.list-section .container {
position: absolute;
width: 662px;
height: 374px;
left: 138px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;


color: #000000;

 }
    
.list-section .heading{
    
position: absolute;
width: 667px;
height: 93px;
left: 121px;

    
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 700;
font-size: 55px;
line-height: 56px;
    
    
    color: #000000;
}
.list-section .lists{
position: absolute;
width: 662px;
height: 374px;
left: 138px;


font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;

color: #000000;
}}