@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}
.format-section .container {
  padding: 50px;
  height: 300px;
  margin-left: 70px;
}
.format-section .container h1 {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 55px;
  margin-left: 70px;
}
.format-section .container .tabs {
  display: flex;
  justify-content: flex-start;
  margin-top: 90px;
}
.format-section .container .tabs .tab {
  width: 280px;
  margin-left: 70px;
}
.format-section .container .tabs .tab p {
  color: #1e4681;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 25px;
  line-height: 130%;
}
.format-section .container .tabs .tab span {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  font-family: "Roboto";
}

@media screen and (min-width: 1280px) {
  .cards-section .container {
    padding: 50px;
    font-family: "Roboto";
    /* height: 1500px; */
  }
  .cards-section .container h1 {
    font-weight: 700;
    font-size: 55px;
    margin-left: 140px;
  }
  .cards-section .container .cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 10px;
    /* justify-content: center; */
  }
  .cards-section .container .cards .card {
    border-radius: 10%;
    width: 350px;
    padding: 9px;
    height: 280px;
    /* margin-left: 25px; */
    margin-top: 50px;
    box-shadow: 1px 1px 1px 1px rgb(212, 212, 212);
  }
  .cards-section .container .cards .card img {
    width: 350px;
  }
  .cards-section .container .cards .card .card-container {
    /* padding: 2px 16px; */
    transition: 0.3s;
  }
  .cards-section .container .cards .card .card-container h2 {
    font-weight: 700;
    font-size: 25px;
    margin-left: 20px;
  }
  .cards-section .container .cards .card .card-container span {
    display: block;
    width: 220px;
    font-weight: 400;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
  .cards-section .container h1 {
    font-weight: 700;
    font-size: 32px;
    margin-left: 70px;
  }

  .cards-section .container .cards .card {
    border-radius: 10%;
    width: 230px;
    padding: 8px;
    margin-top: 20px;
  }

  .cards-section .container .cards .card img {
    width: 230px;
  }
}

@media only screen and(max-width:991px) {
}

.footer {
  background-color: black;
  height: 340px;
  padding: 50px;
}

.footer .container .top-footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.footer .container .synchronization {
  width: 115px;
  height: 68px;
  margin-left: 121px;
  display: inline;
}
.footer .container .social {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-left: 121px;
  margin-top: 30px;
  color: red;
}

.footer .container .contact {
  margin-right: 70px;
}
.footer .container .contact .email {
  margin-top: 20px;
}
.footer .container .contact .email img {
  width: 27px;
  height: 27px;
}
.footer .container .contact span {
  color: white;
  font-family: "Roboto";
  margin-left: 15px;
  font-weight: 400;
  font-size: 25px;
  line-height: 101.38%;
}

.footer .container .by {
  color: white;
  margin-top: 160px;
  margin-left: 121px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 101.38%;
}
